BSC_TESTNET_RPC_URL=https://bsc-testnet-dataseed.bnbchain.org
INITIAL_OWNER=0xYOUR_PUBLIC_OWNER_ADDRESS
GGC_TOKEN_ADDRESS=0x229d9a0ADEfea5A4f21477C1D83288D04b6D1a06
VESTING_FUNDER=0xYOUR_PUBLIC_FUNDER_ADDRESS
VESTING_BENEFICIARY=0xYOUR_PUBLIC_TESTNET_BENEFICIARY_ADDRESS
ETHERSCAN_API_KEY=OPTIONAL_EXPLORER_API_KEY
